<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Todo App</h1>

    <form action="/add" method="post">
        <div>
            <label for="title">Todo title</label>
            <input type="text" name="title" placeholder="Enter Todo...">
            <button type="submit">Add</button>
        </div>
    </form>

    <ul class="todo-list">
        {% for todo in todo_list %}
        <li class="todo-item">
            <form action="/update/{{ todo.id }}" method="post">
                <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox" name="complete" value="true" {{ 'checked' if todo.complete else '' }} onchange="this.form.submit();">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <span class="todo-title">{{ todo.title }}</span>
                <div class="button-container">
                    <a href="/delete/{{ todo.id }}" class="todo-button">Delete</a>
                    <a href="/deletealltodos" method="post" class="todo-button">Delete all</a>
                </div>
            </form>
        </li>
        {% endfor %}
    </ul>
    
    

</body>
</html>
